version: 2.1
jobs:
  lint:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run: make deps
      - run:
          name: Run Linter
          command: make lint
  test:
    machine:
      image: ubuntu-2004:current
    steps:
      - checkout
      - run: make deps
      - run: make test
workflows:
  basic:
    jobs:
      - lint
      - test:
          requires:
            - lint
